/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore
/phpcs.xml export-ignore
/.editorconfig export-ignore
/tests export-ignore
/docs export-ignore
/var/cache export-ignore
/mkdocs.yml export-ignore
/var/log export-ignore
/site export-ignore
/README.md export-ignore
/LICENSE export-ignore
