includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - bin
        - bootstrap
        - etc
        - routes
        - src
        - tests
    tmpDir: var/cache/phpstan
    bootstrapFiles:
        - stubs/mongodb.php
        - stubs/openswoole.php
        - vendor/autoload.php
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    treatPhpDocTypesAsCertain: false
