parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: etc/server.php

		-
			message: "#^Parameter \\#3 \\$body of class Nyholm\\\\Psr7\\\\Response constructor expects Psr\\\\Http\\\\Message\\\\StreamInterface\\|resource\\|string\\|null, string\\|false given\\.$#"
			count: 2
			path: routes/http.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\AppKeyMake\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/AppKeyMake.php

		-
			message: "#^Parameter \\#1 \\$string of function rtrim expects string, string\\|false given\\.$#"
			count: 1
			path: src/Console/Command/AppKeyMake.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|false given\\.$#"
			count: 2
			path: src/Console/Command/AppKeyMake.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|false given\\.$#"
			count: 1
			path: src/Console/Command/AppKeyMake.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Console/Command/CachePurge.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\CachePurge\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/CachePurge.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\ClientCall\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/ClientCall.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\Command\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/Command.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\:\\:createWatcher\\(\\) has parameter \\$paths with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\:\\:parseOptions\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\:\\:parseOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\:\\:parseWatchList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\:\\:resolveWatchPaths\\(\\) has parameter \\$paths with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\:\\:resolveWatchPaths\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\\\FinderFileWatcher\\:\\:__construct\\(\\) has parameter \\$paths with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch/FinderFileWatcher.php

		-
			message: "#^Property Bamboo\\\\Console\\\\Command\\\\DevWatch\\\\FinderFileWatcher\\:\\:\\$paths type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch/FinderFileWatcher.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\DevWatch\\\\InotifyFileWatcher\\:\\:__construct\\(\\) has parameter \\$paths with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/DevWatch/InotifyFileWatcher.php

		-
			message: "#^Offset 'mask' on array\\{wd\\: int\\<1, max\\>, mask\\: int\\<0, max\\>, cookie\\: int\\<0, max\\>, name\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Console/Command/DevWatch/InotifyFileWatcher.php

		-
			message: "#^Offset 'name' on array\\{wd\\: int\\<1, max\\>, mask\\: int\\<0, max\\>, cookie\\: int\\<0, max\\>, name\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Console/Command/DevWatch/InotifyFileWatcher.php

		-
			message: "#^Offset 'wd' on array\\{wd\\: int\\<1, max\\>, mask\\: int\\<0, max\\>, cookie\\: int\\<0, max\\>, name\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Console/Command/DevWatch/InotifyFileWatcher.php

		-
			message: "#^Property Bamboo\\\\Console\\\\Command\\\\DevWatch\\\\InotifyFileWatcher\\:\\:\\$resource has no type specified\\.$#"
			count: 1
			path: src/Console/Command/DevWatch/InotifyFileWatcher.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\HttpServe\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/HttpServe.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\PkgInfo\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/PkgInfo.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: src/Console/Command/PkgInfo.php


		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\RoutesCache\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/RoutesCache.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\RoutesShow\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/RoutesShow.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\ScheduleRun\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/ScheduleRun.php

		-
			message: "#^Call to method on\\(\\) on an unknown class OpenSwoole\\\\WebSocket\\\\Server\\.$#"
			count: 3
			path: src/Console/Command/WsServe.php

		-
			message: "#^Call to method start\\(\\) on an unknown class OpenSwoole\\\\WebSocket\\\\Server\\.$#"
			count: 1
			path: src/Console/Command/WsServe.php

		-
			message: "#^Instantiated class OpenSwoole\\\\WebSocket\\\\Server not found\\.$#"
			count: 1
			path: src/Console/Command/WsServe.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Command\\\\WsServe\\:\\:handle\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/WsServe.php

		-
			message: "#^Call to an undefined method object\\:\\:description\\(\\)\\.$#"
			count: 1
			path: src/Console/Kernel.php

		-
			message: "#^Call to an undefined method object\\:\\:handle\\(\\)\\.$#"
			count: 1
			path: src/Console/Kernel.php

		-
			message: "#^Call to an undefined method object\\:\\:matches\\(\\)\\.$#"
			count: 1
			path: src/Console/Kernel.php

		-
			message: "#^Call to an undefined method object\\:\\:name\\(\\)\\.$#"
			count: 1
			path: src/Console/Kernel.php

		-
			message: "#^Method Bamboo\\\\Console\\\\Kernel\\:\\:run\\(\\) has parameter \\$argv with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Kernel.php

		-
			message: "#^Property Bamboo\\\\Console\\\\Kernel\\:\\:\\$commands type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Kernel.php


		-
			message: "#^Property Bamboo\\\\Core\\\\Container\\:\\:\\$bindings type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/Container.php

		-
			message: "#^Property Bamboo\\\\Core\\\\Container\\:\\:\\$instances type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Core/Container.php




		-
			message: "#^Method Bamboo\\\\Http\\\\Client\\\\ClientInterface\\:\\:sendConcurrent\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Client/ClientInterface.php




		-
			message: "#^Method Bamboo\\\\Web\\\\Middleware\\\\RequestId\\:\\:handle\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Web/Middleware/RequestId.php

		-
			message: "#^Method Bamboo\\\\Web\\\\Middleware\\\\SignatureHeader\\:\\:handle\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Web/Middleware/SignatureHeader.php

		-
			message: "#^Parameter \\#3 \\$body of class Nyholm\\\\Psr7\\\\Response constructor expects Psr\\\\Http\\\\Message\\\\StreamInterface\\|resource\\|string\\|null, string\\|false given\\.$#"
			count: 1
			path: src/Web/ProblemDetailsHandler.php

		-
			message: "#^Method Bamboo\\\\Web\\\\RequestContext\\:\\:all\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Web/RequestContext.php

		-
			message: "#^Method Bamboo\\\\Web\\\\RequestContext\\:\\:merge\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Web/RequestContext.php

		-
			message: "#^Property Bamboo\\\\Web\\\\RequestContext\\:\\:\\$values type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Web/RequestContext.php

		-
			message: "#^Parameter \\#2 \\$cwd of static method Symfony\\\\Component\\\\Process\\\\Process\\:\\:fromShellCommandline\\(\\) expects string\\|null, string\\|false given\\.$#"
			count: 1
			path: tests/Console/DevWatchTest.php


		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: tests/Fixtures/fake-server.php


